:root {
  --light-bg: rgb(255, 255, 255);
  --dark-bg: rgb(38 38 38);
}

/* :root[data-theme="dark"] {
  .fieldColourSliderContainer {
    color: white;
    background-color: gb(#ffffff22 / 75);
  }
  .blocklyDropDownDiv {
    @apply bg-neutral-900;
    border: rgb(#ffffff09 / 75);
  }
  .fieldColourSlider {
    background-color: rgb(#ffffff22 / 75);
  }
  .fieldColourSliderLabel {
    @apply opacity-80;
  }
  .fieldColourEyedropper {
    @apply opacity-80;
  }
} */

.htmlBG {
  background-color: var(--light-bg);
}
div:not([class]):not([style]) {
  background-color: var(--light-bg);
}

@media (prefers-color-scheme: dark) {
  .htmlBG {
    background-color: var(--dark-bg);
  }
  div:not([class]):not([style]) {
    background-color: var(--dark-bg);
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    @apply opacity-90;
  }
}

/* Blockly toolbox fix, do not remove */
svg[display="none"] {
  display: none;
}
.injectionDiv {
  @apply rounded-xl;
}
